html,
body {
  margin: 0;
}

body {
  margin: 0 18px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

body.dark {
  background-color: #242f3e;
}

.theme-switcher__container {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0;
  margin-bottom: 48px;
}

.theme-switcher {
  color: #36a8f1;
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 25px;
  letter-spacing: 0.45px;
}

.buttons {
  bottom: 0;
}

.button {
  height: 50px;
  border-radius: 25px;
  padding: 0px 20px 0 12px;
  border: 1px solid #e6ecf0;
  outline: none;
  background-color: #fff;
  margin-right: 16px;
  font-size: 19px;
  line-height: 37px;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  user-select: none;
}

.overall {
  position: relative;
  height: 58px;
  margin-bottom: 24px;
  width: 100%;
}

.overall > canvas {
  position: absolute;
  top: 3px;
  width: 100%;
  height: 52px;
  pointer-events: none;
}

.overlay {
  position: absolute;
  height: 58px;
  background: rgb(86, 130, 163, 0.15);
  z-index: 1;
}

.overlay::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.7;
}

.overlay-left {
  left: 0;
}

.overlay-right {
  right: 0;
}

.frame {
  position: absolute;
  border: solid rgb(86, 130, 163, 0.2);
  border-width: 1px 0;
  height: 56px;
  z-index: 1;
}

.frame::after {
  content: "";
  height: 56px;
  background: #fff;
  opacity: 1;
  z-index: 999999;
  position: absolute;
  top: 0px;
  left: 6px;
  opacity: 0.2;
  right: 6px;
  bottom: 1px;
}

.grabber {
  display: block;
  width: 6px;
  position: absolute;
  right: 0;
  height: 56px;
  background: rgb(86, 130, 163, 0.35);
  z-index: 1;
}

.grabber::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background: #fff;
  opacity: 0.4;
}
.grabber-left {
  left: 0;
  cursor: w-resize;
}
.grabber-right {
  right: 0;
  cursor: e-resize;
}

.tick-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  background-image: url(checked.svg);
  background-size: 17px 15px;
  background-repeat: no-repeat;
  background-position: 6px 9px;
  margin-right: 14px;
  position: relative;
  pointer-events: none;
}

.tick-icon::after {
  content: "";
  display: block;
  background: #fff;
  border-radius: 100%;
  width: 26px;
  height: 26px;
  position: absolute;
  top: 2px;
  left: 2px;
  position: absolute;
  transition: transform 0.2s;
}

.checked .tick-icon::after {
  transform: scale(0);
}
